.banner {
	max-width: 1200px;
	margin: 0 auto 30px auto;

	.banner__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 50px;

		.banner__wrapper__image {
			max-width: 721px;
			max-height: auto;
		}

		.banner__wrapper__info {
			max-width: 580px;

			.banner__wrapper__info__title {
				margin-bottom: 27px;
			}

			.banner__wrapper__info__text {
				margin-bottom: 27px;
			}
		}
	}
}

@media (max-width: 990px) {
	.banner__wrapper__info__title {
		font-size: 28px;
	}
}

@media (max-width: 910px) {
	.banner__wrapper__info__title {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 10px !important;
	}
}

@media (max-width: 755px) {
	.banner__wrapper {
		grid-template-columns: 1fr !important;
		gap: 20px !important;
	}
}
