.card {
	.card__img {
		margin: 25px 0 20px 0;
		min-width: 347px;
		min-height: 244px;
		padding: 5px;
	}
	.card__from {
		margin-bottom: 18px;
		padding: 5px;
	}
	.card__title {
		margin-right: 40px;
		padding: 5px;
	}
	.card__text {
		padding: 5px;
	}
}
