.card {
	margin-top: 15px;

	.card__img {
		margin: 5px 0 20px 0;

		min-height: 244px;
		padding: 5px;
		margin-left: auto;
		margin-right: auto;
	}
	.card__from {
		margin-bottom: 18px;
		padding: 5px;
	}
	.card__title {
		margin-right: 40px;
		padding: 5px;
	}
	.card__text {
		padding: 5px;
	}
	.card__link {
		cursor: pointer;
		margin-top: 10px;
		padding: 5px;

		&:hover {
			transition: 0.5s all ease;
			color: gray;
			font-size: 11px;
		}
	}
}

@media (max-width: 1199px) {
	.card {
		width: 350px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 755px) {
	.card {
		width: 380px;
	}
}

@media (max-width: 410px) {
	.card {
		width: 360px;
	}
}

@media (max-width: 390px) {
	.card {
		width: 320px;

		.card__img {
			min-height: 177px;
		}
	}
}

@media (max-width: 350px) {
	.card {
		width: 280px;

		.card__img {
			min-height: 177px;
		}
	}
}
