.list {
	max-width: 1200px;
	height: auto;
	align-items: center;
	margin: 0 auto 30px auto;

	.list__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 30px;
	}
}

@media (max-width: 1199px) {
	.list__wrapper {
		grid-template-columns: 1fr 1fr !important;
		gap: 20px !important;
	}
}

@media (max-width: 755px) {
	.list__wrapper {
		grid-template-columns: 1fr !important;
	}
}
